@page
@model GreenGardens.Pages.ProductsModel
@{
    ViewData["Title"] = "Products";
}


@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <a asp-page="/AddProducts" class="btn btn-primary">Add Product</a>

}


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
            <th>ExpectedStock</th>
            <th>LoyalityPoints</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                @if (@product.Stock < @product.ExpectedStock)
                {
                <tr style="background-color:red">
                    <td>@product.Name</td>
                    <td>
                        <img src="@product.ImagePath" alt="Product Image" style="width:100px">
                    </td>
                    <td>@product.Description</td>
                    <td>@product.Price.ToString()</td>
                    <td>@product.Stock.ToString()</td>
                    <td>@product.ExpectedStock.ToString()</td>
                    <td>@product.LoyalityPoints.ToString()</td>

                    <td>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                            <a asp-page="/EditProduct" asp-route-id="@product.Id" class="btn btn-primary">Edit</a>

                            }
                    </td>
                    <td>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                            <a asp-page="/RemoveProduct" asp-route-id="@product.Id" class="btn btn-primary">Remove</a>

                            }
                    </td>
                </tr>
                }

                else if (@product.Stock > @product.ExpectedStock)
                {
                <tr style="background-color:lightgreen">
                    <td>@product.Name</td>
                    <td>
                        <img src="@product.ImagePath" alt="Product Image" style="width:100px">
                    </td>
                    <td>@product.Description</td>
                    <td>@product.Price.ToString()</td>
                    <td>@product.Stock.ToString()</td>
                    <td>@product.ExpectedStock.ToString()</td>
                    <td>@product.LoyalityPoints.ToString()</td>

                    <td>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                            <a asp-page="/EditProduct" asp-route-id="@product.Id" class="btn btn-primary">Edit</a>

                            }
                    </td>
                    <td>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                            <a asp-page="/RemoveProduct" asp-route-id="@product.Id" class="btn btn-primary">Remove</a>

                            }
                    </td>
                </tr>
                }
                else
                {

            <td>@product.Name</td>
            <td>
                <img src="@product.ImagePath" alt="Product Image" style="width:100px">
            </td>
            <td>@product.Description</td>
            <td>@product.Price.ToString()</td>
            <td>@product.Stock.ToString()</td>
            <td>@product.ExpectedStock.ToString()</td>
            <td>@product.LoyalityPoints.ToString()</td>

            <td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                    <a asp-page="/EditProduct" asp-route-id="@product.Id" class="btn btn-primary">Edit</a>

                        }
            </td>
            <td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                    <a asp-page="/RemoveProduct" asp-route-id="@product.Id" class="btn btn-primary">Remove</a>

                        }
            </td>
                }

        </tr>
        }



    </tbody>
</table>
