@page
@model GreenGardens.Pages.ShopModel
@{
    ViewData["Title"] = "Shop";
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>
                    <img src="@product.ImagePath" alt="Product Image" style="width:100px">
                </td>
                <td>@product.Description</td>
                <td>@product.Price.ToString()</td>
                <td>
                    <form method="post" asp-page-handler="AddToBasket" asp-route-productId="@product.ProductId">
                        <button type="submit" class="btn btn-primary">Add to Basket</button>
                    </form>
                </td>
            </tr>

        }



</table>
